<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div class="container"/>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp: ${us}">
        <td th:text="*{emp.id}"/>
        <td th:text="*{emp.name}"/>
        <td th:text="*{emp.gender}"/>
        <td th:text="*{emp.status}"/>
    </tr>
    </tbody>
</table>
<a th:href="add">Add</a>
<br>
<a th:href="delete">Delete</a>
<br>
<a th:href="update">Update</a>
</body>
</html>